<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<tag-list xmlns="http://www.elektro-kapsel.se/xml/modbus_config/v1">
    <holding-registers>
        <register addr="0" label="Reg 0" initial-value="7">
            <field bit="0" label="0.0" />
            <field bit-low="1" bit-high="8" label="0.1-8" />
        </register>
        <register addr="1" label="Reg 1" />
        <register addr="2" label="Reg 2" scale="10" unit="m"/>
        <register-range addr-low="3" addr-high="4" label="Reg 4" initial-value="8982"/>
        <register-range addr-low="5" addr-high="8" label="Reg 5" word-order="little" sign="signed" initial-value="8982"/>
        <register-range addr-low="10" addr-high="19" fill="0"></register-range>
    </holding-registers>
    <input-registers>
      <register addr="2" label="Reg 2" />
      <register addr="3" label="Reg 3" />
    </input-registers>
    <discrete-inputs/>
    <coils>
        <bit addr="3" label="Bit 3" initial-value="1"/>
        <bit addr="6" label="Bit 6" initial-value="0"/>
    </coils>
</tag-list>
