.register_addr, .group_addr {
    width: 7em;
    display: inline-block;
}

.register_label, .group_label, .field_label {
    margin-right:1em;
}

.field_bits {
    width: 7em;
    display: inline-block;
}

.group_indicator {
    width: 1em;
}

input.mb_value:focus {
    background: rgb(253, 203, 203);
}
